<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Videoapp</display-name>
  <welcome-file-list>
    <welcome-file>RegisterUser.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Clientinfo</display-name>
    <servlet-name>Clientinfo</servlet-name>
    <servlet-class>hibernate.web.Clientinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clientinfo</servlet-name>
    <url-pattern>/Clientinfo</url-pattern>
  </servlet-mapping>
</web-app>